USE [master]
GO
/****** Object:  Database [ExampleDB]    Script Date: 02/19/2016 09:57:11 ******/
DROP DATABASE [ExampleDB]
CREATE DATABASE [ExampleDB] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExampleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExampleDB]
GO
/****** Object:  Table [dbo].[JobSeekers]    Script Date: 02/19/2016 09:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSeekers](
	[Id] [int] NOT NULL,
 CONSTRAINT [PX_JobSeekers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[JobSeekers] ([Id]) VALUES (1259)
INSERT [dbo].[JobSeekers] ([Id]) VALUES (1358)
INSERT [dbo].[JobSeekers] ([Id]) VALUES (1920)
/****** Object:  Table [dbo].[Jobs]    Script Date: 02/19/2016 09:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[EntityId] [int] NOT NULL,
	[EmployerId] [int] NOT NULL,
	[RecruitingFor] [nvarchar](100) NULL,
	[HideRecruitingFor] [bit] NOT NULL,
	[ContactId] [int] NULL,
	[DisplayContactId] [int] NULL,
	[Commences] [nvarchar](50) NOT NULL,
	[Remuneration] [nvarchar](50) NOT NULL,
	[PositionsAvailable] [nvarchar](50) NOT NULL,
	[ExternalReference] [nvarchar](20) NULL,
	[Details] [nvarchar](max) NOT NULL,
	[Procedures] [nvarchar](max) NOT NULL,
	[MinimumAge] [int] NULL,
	[Url] [nvarchar](300) NULL,
	[IsGradRecruit] [bit] NOT NULL,
	[IsVacEmployment] [bit] NOT NULL,
	[IsWIL] [bit] NOT NULL,
	[Residency] [nvarchar](120) NULL,
	[Notifications_ExpireSent] [bit] NULL,
	[ContractType] [tinyint] NULL,
	[ContractHours] [tinyint] NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobLocations]    Script Date: 02/19/2016 09:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[City] [nvarchar](60) NULL,
	[Region] [nvarchar](60) NULL,
	[Country] [nvarchar](60) NULL,
	[Address] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_JobLocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JobLocations] ON
INSERT [dbo].[JobLocations] ([Id], [JobId], [City], [Region], [Country], [Address]) VALUES (204, 95343, N'Excitingcap', N'Victoria', N'Australia', N'"Excitingcap, Victoria, Australia"')
INSERT [dbo].[JobLocations] ([Id], [JobId], [City], [Region], [Country], [Address]) VALUES (205, 95344, N'Naughtycow', N'Queensland', N'New Zealand', N'"Naughtycow, Queensland, New Zealand"')
INSERT [dbo].[JobLocations] ([Id], [JobId], [City], [Region], [Country], [Address]) VALUES (206, 95345, N'Greatgasket', N'Vic', N'Australia', N'"Greatgasket, Vic, Australia"')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[JobLocations] OFF
/****** Object:  Table [dbo].[Events_Bookings]    Script Date: 02/19/2016 09:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events_Bookings](
	[EventId] [int] NOT NULL,
	[AddedUserId] [int] NOT NULL,
	[LastUpdatedUserId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[JobSeekerId] [int] NOT NULL,
 CONSTRAINT [PK_Events_Bookings_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UX_Events_Bookings_Duplicates] UNIQUE NONCLUSTERED 
(
	[JobSeekerId] ASC,
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Events_Bookings] ON
INSERT [dbo].[Events_Bookings] ([EventId], [AddedUserId], [LastUpdatedUserId], [Id], [Status], [JobSeekerId]) VALUES (3194113, 5, 32, 1, 1, 3892)
INSERT [dbo].[Events_Bookings] ([EventId], [AddedUserId], [LastUpdatedUserId], [Id], [Status], [JobSeekerId]) VALUES (3194113, 2, 5, 2, 1, 4873)
INSERT [dbo].[Events_Bookings] ([EventId], [AddedUserId], [LastUpdatedUserId], [Id], [Status], [JobSeekerId]) VALUES (3194113, 6, 12, 3, 0, 3979)
SET IDENTITY_INSERT [dbo].[Events_Bookings] OFF
/****** Object:  Table [dbo].[Events_Attendance]    Script Date: 02/19/2016 09:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events_Attendance](
	[BookingId] [int] NOT NULL,
	[Confirmed] [datetime] NOT NULL,
	[Attended] [bit] NOT NULL,
	[JobSeekerId] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Events_Attendance] ([BookingId], [Confirmed], [Attended], [JobSeekerId]) VALUES (9, CAST(0x0000A58C003D0E48 AS DateTime), 1, 1259)
INSERT [dbo].[Events_Attendance] ([BookingId], [Confirmed], [Attended], [JobSeekerId]) VALUES (7, CAST(0x0000A58C003D0E48 AS DateTime), 1, 1358)
INSERT [dbo].[Events_Attendance] ([BookingId], [Confirmed], [Attended], [JobSeekerId]) VALUES (10, CAST(0x0000A58C003D0E48 AS DateTime), 1, 2432)
/****** Object:  Table [dbo].[Events]    Script Date: 02/19/2016 09:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EntityId] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Details] [nvarchar](max) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Venue] [nvarchar](200) NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Events] ([EntityId], [Title], [Details], [Phone], [Email], [Venue], [Start], [End]) VALUES (3190968, N'Initial Resume Consultation', N'<p>Initial Consultation</p><p>Compulsory session to discuss about your Resume</p>', NULL, NULL, N'TBC', CAST(0x0000A58700000000 AS DateTime), CAST(0x0000A59400107AC0 AS DateTime))
INSERT [dbo].[Events] ([EntityId], [Title], [Details], [Phone], [Email], [Venue], [Start], [End]) VALUES (3194119, N'How to use LinkedIn Improve my Employability', N'<p>LinkedIn can be an extremely powerful tool. &nbsp;In this seminar you will learn how many of LinkedIn''s functions can be used to better optimise your on-line presence  effectively search for job opportunities and extend your professional network.</p>', NULL, NULL, N'Melbourne Campus', CAST(0x0000A56C0041EB00 AS DateTime), CAST(0x0000A579005265C0 AS DateTime))
/****** Object:  Default [DF_Jobs_IsVacEmployment]    Script Date: 02/19/2016 09:57:11 ******/
ALTER TABLE [dbo].[Jobs] ADD  CONSTRAINT [DF_Jobs_IsVacEmployment]  DEFAULT ((0)) FOR [IsVacEmployment]
GO
/****** Object:  Default [DF_Jobs_IsWIL]    Script Date: 02/19/2016 09:57:11 ******/
ALTER TABLE [dbo].[Jobs] ADD  CONSTRAINT [DF_Jobs_IsWIL]  DEFAULT ((0)) FOR [IsWIL]
GO
